---
title: Welcome to BioData Club!
layout: splash
classes: wide
header:
  overlay_color: "#333"
  overlay_filter: "1"
  overlay_image: /assets/img/biodataclubphoto.jpg
excerpt: "Let's learn about data science together"
intro:
  -  image_path: /assets/img/Hex-BDP-small.png
     alt: "BioData Club logo"
     title: "What is BioData Club?"
     excerpt: "|
|BioData Club is an informal and interdisciplinary co-learning initiative started by a group of Oregon Health and Science University (OHSU) students, staff, and faculty. We come together to share skills, ask questions, and learn about data science skills and open research tools. Anyone can learn to program. The BioData Club community model brings together learners starting from scratch (write your first line of code!) data science experts, and everyone in between to gain new data skills, troubleshoot projects, practice teaching in an informal context, and connect with other data and open science enthusiasts. 
|
|The BioData Club Kit will help you start your own co-learning community!  In addition to a website template, we’ve included a few of our most successful lessons, advice and resources for building a local co-learning club (we’ve leveraged a lot of good work from other organizations), and surveys for understanding your community's needs and goals."
     url: http://github.com/biodataclubkit/biodataclubkit.github.io
     btn_label: Download the Kit
     btn_class: "btn--primary"
events:
  - title: "Events"
    excerpt: "BioData Club hosts two types of events:  practical learning workshops and hacky hours. We often link them to a shared theme, like data visualization.  Hacky hours are for networking.  People come to talk about their work, get feedback, and have fun!  Our goal is co-learning, and we believe have a lot to teach each other."
contact:
  - title: "Contact Us"
    excerpt: "Whether you're a beginner, intermediate, or expert, we want you to be involved with BioData Club."
get_involved:
  -  title: "Teach and Organize"
     btn_label: "Learn More"
     btn_class: "btn--primary"
     url: /teaching/
     excerpt: "We're all learners in BioData Club. If there's something you want to learn, we want to help you learn it."
  -  title: "Slack"
     excerpt: "Join us in our Slack chat room if you have questions about Data Science and want to learn more."
     url: http://biodata-club.slack.com
     btn_label: "Join Slack"
     btn_class: "btn--primary"
  -  title: "Mailing List"
     excerpt: "Join our Mailing List to be notified about upcoming events."
     btn_label: "Mailing List"
     btn_class: "btn--primary"
     url: http://tinyletter.com/biodataclub
---
{% include feature_row %}

<a name="about"></a>
{% include feature_row id="intro" type = "left" %}

<a name="events"></a>
{% include feature_row id="events" type = "center" %}

{% assign sorted_events = site.events | sort: 'date' | reverse %}

{% capture now_moment %}{{ "today" | date: '%s' }}{% endcapture %}

{% for event in sorted_events %} 
    {% capture date %}{{ event.date | date: '%s' | plus: 0 }}{% endcapture %} 
     {% if date > now_moment %}
      {% include events.html %}
      {% endif %}
{% endfor %}

<a name="contact"></a>
{% include feature_row id="contact" type = "center" %}
{% include feature_row id="get_involved" %}

