 {% assign event_title = event.title %}
 {% assign event_date = event.date %}
 {% assign event_location = event.location %}
 {% assign event_time = event.time%}
 {% if event_description %}
   {% assign event_description = event.description %}
 {% endif %}
 {% if event.url %}
   {% assign event_url = event.url %}
 {% endif %}

<div class="{{ include.type | default: " list " }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title">{{ event_title }}</h2>
    <h3>{{ event_date | date: "%B %d, %Y" }}</h3>
    <h3>{{ event_time }}</h3>
    {% if event_url %}
    <h3>Link: <a href="{{event_url}}"{{ event_url }}></a></h3>
    {% endif %}
    <h3>Location: {{ event_location }}</h3>
    <p class="archive__item-excerpt" itemprop="description">{{ event_description | markdownify | strip_html }}</p>
  </article>
</div>