---
layout: splash
classes: wide
---

<h2 class="archive__subtitle">What is BioData Club?</h2>

<p>BioData Club is an informal, on-campus meetup initiated by a group of OHSU students, staff,
and faculty focusing on skills in Data Science. We come together to share skills, ask questions, and learn new open research tools.
We believe anyone can learn to program and are happy to help you start from scratch!

<p>Join us to write your first line of code, learn new data management and analysis skills,
try your hand at teaching in an informal context - or just show up at our Hacky Hour
co-learning events to work on your own projects with company.

<h2 class="archive__subtitle">Events</h2>

<p></p>

<h3 class="archive__subtitle">Contact Us</h3>

Our GitHub organization is here: 

BioData Club has a Slack available at http://biodata-club.slack.com. Anyone with an
`ohsu.edu` email can join. We do lots of chatting about Data Science skills there. Join us
if you need some help or want to help others!



<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
